*{
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #383838; 
}

.container {
    max-width: 1146px;
    margin: 0 auto;
} 

header {
    background-color: #BEB7D8;
    padding: 13.5px 0;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo {
    width: 150px;
    height: 34px;
}

.contacts a {             
    color: #383838;     
    text-decoration: none; 
    font-size: 12px;      
    margin-right: 25px;   
    display: inline-flex; 
    align-items: center;  
}

.contacts a img {        
    margin-right: 6px;  
    width: 15px;
    height: 15px;
}

.btn {
    background-color: #006BA7; 
    color: #FFFFFF;            
    font-size: 12px;             
    border: none;                
    width: 160px;                
    padding: 13.2px 0;            
    border-radius: 20px;         
}

.header-btn {
    width: 180px;
}

.courser-info {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/laptop\ 1.png'); 
    background-repeat: no-repeat; 
    background-position: bottom right; 
}

.courser-info h1 {
    font-size: 36px;
    color: #006BA7;
    margin: 0; 
}

.courser-info span {
    font-size: 18px;
    margin-top: 10px;
}

.buttons {
    width: 350px;   
    display: flex; 
    justify-content: space-between; 
    margin-top: 50px;
} 

.bg-ligthgray {
    background-color: #BEB7D8;
}

.education-info {
    display: flex; 
    flex-wrap: wrap; 
    
    justify-content: space-around; 
    padding: 70px 0 60px; 
}

.education-info .card {
    width: 335px;
    font-size: 14px;
}

.marginBottom {
    margin-bottom: 15px;
}

footer {
    background-color: #383838;   
    color: #FFFFFF;
    text-align: center;
    padding: 11px;
}

footer p {
    margin: 0;
    font-size: 12px;
}