/* при paddings и borders значение ширины элемента меняться не будет*/ 
*{
    box-sizing: border-box; 
}

/* обнулим margin у body, для корректного отображения */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #383838; /*задали цвет текста на всей страницу*/
}

/* зададим максимальную ширину:  max-width: 1446px; */
.container {
    max-width: 1146px;
    margin: 0 auto;
    /* на время добавим границу, чтобы видеть пределы в которых работаем:*/
    /* border: 1px  solid #000; */
} 

header {
    background-color: #BEB7D8;
    /*height: 90px;
    display: flex;
    align-items: center;
    слетела ширина*/
    padding: 13.5px 0;
}

.header-info {
    display: flex;
    justify-content: space-between; /*теперь два ребенка класса header-info: <a> b <div class="contact" отталкиваются друг от друга, прижимаясь к краям, и ссылки дети .contact все сместились вправо */
    align-items: center; /*центрируем по второстепенной оси*/
}

.logo {
    width: 150px;
    height: 34px;
}

.contacts a {             /*обращение к <a> в .contacts*/
    color: #383838;     /*поменяли цвет текста в .contacts <a>*/
    text-decoration: none; /*убрали подчеркивание*/
    font-size: 12px;      /*размер текста класса*/
    margin-right: 25px;   /*внешний отступ справа*/
    display: inline-flex; /*сделали их в строку */
    align-items: center;  /*по центру втор оси */
}

.contacts a img {        /*обращение к <img> d <a> в .contacts*/
    margin-right: 6px;  /*внешний отступ с правой стороны*/
    width: 15px;
    height: 15px;
}

.btn {
    background-color: #006BA7; /*фон кнопки*/
    color: #FFFFFF;            /*цвет текста*/
    font-size: 12px;             /*размер текста*/
    border: none;                /*убираем границу вокруг кнопки*/
    width: 160px;                /*задаем ширину кнопки для класса btn*/
    padding: 13.2px 0;           /*внутренний отступ от текста до края кнопки*/   
    border-radius: 20px;         /*радиус кнопки*/
}

.header-btn {
    width: 180px;
}

.courser-info {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/laptop\ 1.png'); /*добавляем фоновы img*/
    background-repeat: no-repeat; /*убираем повторение img*/
    background-position: bottom right; /*позизионируем справа внизу*/
}

.courser-info h1 {
    font-size: 36px;
    color: #006BA7;
    margin: 0; /*внешний отступ от заголовка*/
}

.courser-info span {
    font-size: 18px;
    margin-top: 10px;
}

.buttons {
    width: 350px;   /*ширина блока 350px*/
    display: flex;  /*подключим flexbox*/
    justify-content: space-between; /*отталкиваются по главной оси*/
    margin-top: 50px;
} 

.bg-ligthgray {
    background-color: #BEB7D8;
}

.education-info {
    display: flex; /*сейчас блоки выстроились в длину, друг за другом*/
    flex-wrap: wrap; /*переносим блоки, теперь они лежат один на другом*/
    /*поэтому дочерним эелементам нужно указать ограниченную ширину*/
    justify-content: space-around; /*Равномерно распределяет все элементы по ширине flex-блока*/
    padding: 70px 0 60px; /*70 сверзу, по бокам 0, 60 снизу*/
}

/*указываем ширину с макета 335px*/
.education-info .card {
    width: 335px;
    /*Для лучшего понимания сделаем границу*/
    /* border: 1px solid red; */
    font-size: 14px;
}

.marginBottom {
    margin-bottom: 15px;
}

footer {
    background-color: #383838;   
    color: #FFFFFF;
    text-align: center;
    padding: 11px;
}

footer p {
    margin: 0;
    font-size: 12px;
}